/* MAIN,CSS */
/* borda aplicada para todas as tags */

/* *{
    border: 1px solid black;
} */

/* importação da fonte no css*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Cor de fundo do cabeçalho */
header {
    width: 100vw;
    height: 136px;
    background-color:#E5F4FF;
    display: flex;
    justify-content:center;
    align-items: center;
}

.header__title{
    font-weight: bold;
    color:black;
    font-family:"Inter",sans-serif;
    font-size: 48px;
}

.header__title--blue{
    color: blue;
}
/* Footer */
.footer{
    width: 100vw;
    height: 115px;
    background-color:#E5F4FF;
    display: flex;
    gap: 192px;
    justify-content: center;
    align-items: center;
}

.footer__columns{
    width:16%;
    text-align:center;
}

.footer__social{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__social-icons i {
    /* retira a linha */
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

